@model IEnumerable<ProjectPrn211.Models.Person>
@{
    Layout = "LayoutAdmin";

}

<div class="d-flex container-fluid justify-content-center">
    <div class="w-75 mt-5">
        @if (Model != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">PersonID</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Email</th>

                        <th scope="col">Password</th>
                        <th scope="col">Type</th>
                        <th scope="col">IsActive</th>
                        <th class="justify-content-center text-center" scope="col">
                            DeActive
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.PersonId</th>
                            <td>@item.Fullname</td>
                            <td>@item.Gender</td>
                            <td>@item.Email</td>
                            <td>@item.Password</td>
                            <td>@item.Type</td>
                            <td>@item.IsActive</td>
                            <td class="justify-content-center text-center">
                                @if(item.IsActive == true){
                                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Deactive", "Admin", new { id = item.PersonId})'">
                                    Deactive
                                    </button>
                                }
                                @if(item.IsActive == false)
                                {
                                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Active", "Admin", new { id = item.PersonId})'">
                                    Active
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>
